@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>
        Welcome to Contacts Management Application!
    </p>
    <p>
        Go to <a href="~/Employees/Index"><big>Contact Management</big></a> Application
    </p>
</div>